.food-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

.food-container .card-container {
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: auto;
}
